.auth-form {
    display: grid;
    width: 396px;
    margin: 0 auto;
}
.auth-form__logo {
    margin: 70px auto 40px 0;
}
.auth-form__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 40px;
}
.auth-form__description {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-bottom: 10px;
}
.auth-form__input {
    width: 396px;
    height: 46px;
    border: none;
    background-color: #F9F9F9;
    margin-bottom: 20px;
}
.auth-form__btn {
    width: 396px;
    height: 45px;
    border: none;
    background-color: #3456F3;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 70px auto 16px auto;
}
.auth-form__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 0 auto 70px auto;
}
.auth-form__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
}

@media (max-width: 1024px) {
    .auth-form__logo {
        margin-top: 232px;
    }
    .auth-form__text {
        margin-bottom: 232px;
    }
}

@media (max-width: 425px) {
    .auth-form__logo {
        margin: 56px auto 50px auto;
    }
    .auth-form__title {
        margin: 0 auto 80px auto;
    }
    .auth-form__description {
        margin-left: 66px;
    }
    .auth-form__input {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .auth-form__btn {
        margin: 172px auto 30px auto;
        width: 260px;
    }
}