.burger-menu {
    display: none;
}
.burger-menu__icon {
    display: none;
}
.burger-menu__account_container {
    display: flex;
}

@media (max-width: 768px) {
    .burger-menu__icon {
        display: block;
        cursor: pointer;
        width: 44px;
        height: 44px;
        background-image: url("../../images/burger-menu-disabled-min.png");
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 30;
        margin: 15px 30px 15px auto;
    }
    .burger-menu__icon_active {
        background-image: url("../../images/burger-menu-actived-min.png");
        position: fixed;
        top: 15px;
        right: 15px;
        margin: 0;
    }

    .burger-menu__icon:hover {
        opacity: .8;
    }
    .burger-menu{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, .3);
    }
    .burger-menu_active {
        display: block;
    }
    .burger-menu__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 520px;
        height: 100vh;
        background-color: white;
        align-items: center;
        z-index: 20;
        padding: 100px 0 90px 0;
    }
    .burger-menu__link {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        text-decoration: none;
        margin-bottom: 28px;
    }
    .burger-menu__account_container {
      width: 80px;
      margin: auto auto 0 auto;
    }
    .burger__menu_account {
        margin: auto 0 7px 0;
    }
    .burger-menu__btn {
      margin: 0;
    }

}
@media (max-width: 700px) {
    .burger-menu__icon {
      margin-right: 14px;
    }
    .burger-menu__container {
        width: 100%;
    }
}
