@import url(./vendor/normalize.css);
@import url(./fonts/InterWeb/inter.css);

.page {
  background-color: white;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
}

.promo {
  background-color: #073042;
  padding: 82px 0 122px 0;
}

.promo__image {
  width: 720px;
  height: 320px;
  opacity: .8;
  background-image: url("./images/promoImg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.promo__title {
  /*max-width: 720px;*/
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  padding-top: 82px;
  margin: 0;
}
.header {
  width: 100%;
  max-height: 74px;
  background-color: #073042;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 38px;
  height: 38px;
  margin: 18px auto 18px 70px;
  background-image: url("./images/headerBackLogo.png");
}
.header__img {
  background-image: url("./images/headerFrontLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
}
.navigation {
  display: flex;
  /*justify-content: center;*/
  /*justify-self: center;*/
}
.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
  margin: 29px 0 29px 0;
  text-decoration: none;
}
.navigation__link-div {
  background-color: #2BE080;
  margin:21px 70px 21px 30px;
  width: 76px;
  height: 32px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-promo {
  background-color: #073042;
}

.navtab {
  width: 100%;
  height: 66px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

.navtab__links {
  width: 276px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*justify-self: center;*/
}

.navtab__link {
  /*margin: 24px 40px 24px 0;*/
  margin-right: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
}

.navtab__link:last-of-type {
  margin: 0;
}
.project {
  padding: 110px 70px 110px 70px;
}
.project__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  max-width: 1140px;
  border-bottom: 1px solid #000000 ;
  padding-bottom: 25px;
  margin: 0;
}
.project__container {
  display: flex;
}
.project__description {
  margin-right: 40px;
  width: 550px;
}
.project__description:last-of-type {
  margin-right: 0;
}
.project__description-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 70px 0 26px 0;
}
.project__description-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.project__graphic {
  display: flex;
}
.project__graphic-one {
  background-color: #2BE080;
  max-width: 228px;
  height: 27px;
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  padding: 9px 14px 0 14px;
}
.project__graphic-text {
  width: 200px;
  height: 18px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
}
.project__graphic-description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin-top: 23px;
  width: 200px;
}
.project__graphic-two {
  background-color: #F2F2F2;
  width: 912px;
  height: 27px;
  padding: 9px 356px 0 356px;
}

.techs{
  background-color: #F5F5F5;
  padding: 100px 70px 100px 70px;
}
.techs__container {
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*align-content: center;*/
  margin: 0 auto;
  /*width: 760px;*/

}

.techs__title {
  max-width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  /*margin: 0 0 26px 0;*/
  margin: 90px auto 26px auto;
}

.techs__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  max-width: 400px;
  margin: 0 auto 100px auto;

}
.techs__list {
  display: flex;
  /*margin: 0 auto;*/
  justify-content: center;
}

.techs__unit {
  border-radius: 10px;
  background-color: #E8E8E8;
  text-align: center;
  padding: 20px 30px 20px 30px;
  margin-right: 10px;
}
.techs__unit:last-of-type {
  margin-right: 0;
}

.aboutme {
  padding: 110px 70px 100px 70px;
}
.aboutme__container {
  display: flex;
}
.aboutme__description {
  max-width: 600px;
}
.aboutme__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 66px 0 18px 0;
}

.aboutme__work {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #111111;
  mix-blend-mode: normal;
  margin: 0 0 26px 0;
}

.aboutme__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
  margin: 0 0 100px 0;
}

.aboutme__link {
  margin: 0 20px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}
.aboutme__link:last-of-type {
  margin-right: 0;
}
.aboutme__photo {
  background-image: url("./images/aboutmePhoto.jpeg");
  width: 270px;
  height: 327px;
  background-repeat: no-repeat;
  background-size: contain;
  /*background-position: center;*/
  border-radius: 10px;
  margin: 66px 0 auto auto;
}

.portfolio {
  padding: 0 70px 125px 70px;
}
.portfolio__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
  margin: 0 0 50px 0;
}
.portfolio__links {
  display: flex;
  border-bottom: 1px solid #E5E5E5;

}
.portfolio__link {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
  width: 100%;
}
.portfolio__link_arrow {
  background-image: url("./images/arrow-min.png");
  width: 30px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer{
  padding: 80px 70px 20px 70px;
}
.footer__description {
  max-width: 100%;
  border-bottom:1px solid #E8E8E8;
  padding-bottom: 20px;

}
.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
}
.footer__data {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__nav {

}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #000000;
  margin-right: 20px;
}

.footer__link:last-of-type {
  margin-right: 0;
}