.aboutme {
    padding: 110px 70px 100px 70px;
}
.aboutme__container {
    display: flex;
}
.aboutme__description {
    max-width: 600px;
}
.aboutme__title {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 66px 0 18px 0;
}

.aboutme__work {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #111111;
    mix-blend-mode: normal;
    margin: 0 0 26px 0;
}

.aboutme__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    margin: 0 0 100px 0;
}

.aboutme__link {
    margin: 0 20px 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
}
.aboutme__link:last-of-type {
    margin-right: 0;
}
.aboutme__photo {
    background-image: url("../../images/aboutmePhoto.jpeg");
    width: 270px;
    height: 327px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    margin: 66px 0 auto auto;
}
@media (max-width: 1024px) {
    .aboutme {
        padding: 90px 50px 90px 50px;
    }
    .aboutme__description {
        max-width: 364px;
    }
    .aboutme__text {
        margin-bottom: 87px;
    }
    .aboutme__photo {
        margin-left: 49px;
    }
}

@media (max-width: 425px) {
    .aboutme {
        padding: 70px 15px 70px 15px;
    }
    .aboutme__container {
        display: grid;
    }

    .aboutme__description {
        max-width: 292px;
        grid-row: 2;
        margin: 0 auto;
    }
    .aboutme__title {
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 20px 0;
    }
    .aboutme__work {
        font-size: 11px;
        line-height: 16px;
    }
    .aboutme__text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
    }
    .aboutme__link {
        margin-right: 26px;
    }
    .aboutme__photo {
        grid-row: 1;
        margin: 60px auto 0 auto;
        width: 292px;
    }
}